<h2>Настройки профиля</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>Электронный адрес<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>Имя<br />
  <%= f.text_field :name %></div>  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>Новый пароль <i>(оставьте пустым, если не хотите менять)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>Подтверждение пароля<br />
  <%= f.password_field :password_confirmation %></div>

  <div>Старый пароль <i>(чтобы подтвердить изменения)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Поменять" %></div>
<% end %>

<h3>Удалить аккаунт</h3>

<p>Все надоело? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Уверены?" }, :method => :delete %></p>

<%= link_to "Назад", :back %>
