<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Электронный адрес<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>Имя<br />
  <%= f.text_field :name %></div>
  
  <div>Пароль<br />
  <%= f.password_field :password %></div>

  <div>Подтверждение пароля<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Зарегистрироваться!" %></div>
<% end %>

<%= render "devise/shared/links" %>
