<%= form_for(@task) do |f| %>
  


  <div class="field">
    Имя задачи:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Суть:<br />
    <%= f.text_area :content %>
  </div>
    <%= f.hidden_field :masterid, :value => params[:task][:masterid] %>
    <%= f.hidden_field :project_id, :value => params[:task][:project_id] %>
    <%= f.hidden_field :status, :value => params[:task][:status] %>
  
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
