<%= form_for(@task) do |f| %>
  


  <div class="field">
    Имя задачи:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Суть:<br />
    <%= f.text_area :content %>
  </div>

<!--   <div class="field"> -->
<!--     <%= f.label :masterid %><br /> -->
    <%= f.hidden_field :masterid, :value => params[:task][:masterid] %>
<!--   </div> -->
<!-- <div class="field"> -->
<!--     <%= f.label :project_id %><br /> -->
    <%= f.hidden_field :project_id, :value => params[:task][:project_id] %>
<!--   </div> -->
<!--  <div class="field"> -->
<!--     <%= f.label :status %><br /> -->
    <%= f.hidden_field :status, :value => params[:task][:status] %>
<!--   </div> -->

<!--  <p>
  <b>Исполнители:</b></br>
  <% @task.users.each do |u| %>
    <%= u.name %>
    <%= link_to 'Убрать из задачи',{controller: "users", action: "remove_from_task", :id => u.id, :task_id => @task.id}  %></br>
  <% end %>
  </p>
  -->

  
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>
