<p>
  <b>Название проекта:</b>
  <%= @project.name %>
</p>

<p>
  <b>Руководитель:</b>
  <%= User.find(@project.hostid).name %>
</p>

<p>
  <b>Сотрудники:</b></br>
  <% if @project.users.blank? %>
    Пока никого, Вы в одиночестве
  <% end %>
  <% @project.users.each do |u| %>
    <%= u.name %>
    <%= link_to 'Убрать из проекта',{controller: "users", action: "remove_from_project", :id => u.id, :project_id => @project.id}  %></br>
  <% end %>
</p>

<b>Добавить сотрудника</b></br>
<%= form_tag({controller: "users", action: "search"}, method: "get" ) do %>
  Найти по емайлу: <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag :project_id, params[:project_id], :value =>  @project.id %>
  <%= submit_tag "Добавить", :email => nil %>
<% end %>


<%= link_to 'Добавить задачу', new_task_path(:task => { :status => false, :project_id => @project.id, :masterid => current_user.id})%> </br>


<table width="100%" cellspacing="0" cellpadding="0">
   <tr> 
    <td valign="top" width="40%">
   <h2> To Do </h2>
    <ul>
      <% @project.tasks.reverse.each do |u| %>
	<% if !u.status? %>
	  </br><li><%= u.name %>
	    <%= link_to 'Отметить как "готово"', task_path(u, :task => { :status => !u.status}, :controller => :tasks, :action => :update, :id => u.id), :method => :put%> </li></br>
 	    Исполнители: </br> <% u.users.each do |uu|%>
	      <%= uu.name %>
	      <%= link_to 'Убрать из задачи',{controller: "users", action: "remove_from_task", :id => uu.id, :task_id => u.id}  %></br> 
	    <% end %> 	    
 	    <%= u.content %></br>
	    <%= link_to 'Удалить', u, method: :delete  %></br>
	    <%= link_to 'Изменить', edit_task_path %></br>
	    <b>Добавить испонителя</b></br>
	    <%= form_tag({controller: "users", action: "search_for_task"}, method: "get") do %>
	      Найти по емайлу: <%= text_field_tag :search, params[:search] %>
	      <%= hidden_field_tag :task_id, params[:task_id], :value =>  u.id %>
	      <%= submit_tag "Искать", :email => nil %>
	    <% end %>
	<% end %>
      <% end %>
    </ul>
    </td>
    <td valign="top" width="40%">
    <h2> Done </h2>
    <ul>
      <% @project.tasks.reverse.each do |u| %>
	<% if u.status? %>
	  </br><li><%= u.name %>
	    <%= link_to 'Отметить как "не готово"', task_path(u, :task => { :status => !u.status}, :controller => :tasks, :action => :update, :id => u.id), :method => :put%> </li></br>
 	    Исполнители: </br> <% u.users.each do |uu|%>
	      <%= uu.name %>
	      <%= link_to 'Убрать из задачи',{controller: "users", action: "remove_from_task", :id => uu.id, :task_id => u.id}  %></br> 
	    <% end %> 	    
 	    <%= u.content %></br>
	    <%= link_to 'Удалить', u, method: :delete  %></br>
	    <%= link_to 'Изменить', edit_task_path %></br>
	    <b>Добавить испонителя</b></br>
	    <%= form_tag({controller: "users", action: "search_for_task"}, method: "get") do %>
	      Найти по емайлу: <%= text_field_tag :search, params[:search] %>
	      <%= hidden_field_tag :task_id, params[:task_id], :value =>  u.id %>
	      <%= submit_tag "Искать", :email => nil %>
	    <% end %>
	<% end %>
      <% end %>
    </ul>
    </td>
   </tr>
 </table>




<%= link_to 'К списку проектов', projects_path %>